/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

// @use 'tailwindcss/base';
// @use 'tailwindcss/components';
// @use 'tailwindcss/utilities';
// @use 'src/styles' as *;

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}
