/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

// @use 'tailwindcss/base';
// @use 'tailwindcss/components';
// @use 'tailwindcss/utilities';
// @use 'src/styles' as *;

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
}

/* Target the div */
.my-scroll-div {
  overflow-y: scroll; /* or overflow: scroll; depending on need */
}

/* Customize scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Remove arrows (called buttons) */
::-webkit-scrollbar-button {
  display: none; /* This hides the up/down arrows */
}

/* Track (the background of scrollbar) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}
