<div class="flex justify-between items-center">
  <div class="m-4 cursor-pointer font-extrabold text-red-500 text-2xl font-black" routerLink="">
    Housing
  </div>
  <ul class="m-4 flex">
    <li class="m-2 cursor-pointer" routerLink="">Home</li>
    <li class="m-2 cursor-pointer" routerLink="housing">Housing</li>
    <li class="m-2 cursor-pointer" routerLink="signup">Sign up</li>
    <li class="m-2 cursor-pointer" routerLink="login">Log in</li>
  </ul>
  <div class="m-4 cursor-pointer">Profile</div>
</div>
